.card {
  border: 2px solid #020000;
  border-radius: 16px;
  color: rgb(0, 221, 255);
  padding: 16px;
  box-shadow: 5px 5px rgb(0, 36, 35);
  transition: all ease-in 0.15s;
  cursor: pointer;
  margin: 16px;
  width: 300px;
}

.card:hover {
  translate: -4px -4px;
  box-shadow: 9px 9px rgb(1, 52, 53);
}

.card h2 {
  font-size: 32px;
}

.card img {
  border-radius: 16px;
  margin: 8px;
}